.model {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    height: 100%;
    font-size: var(--model-fontSize, 12px);

    .closeBtn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        z-index: 10;
        top: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #ffdd2c;
        font-weight: 900;
        font-size: 16px;
        transition: .2s ease-in-out;


        &:hover {
            color: #fff;
            background-color: #000;
        }
    }

    .model-container {
        overflow-y: auto;
        height: calc(100vh - var(--header-h) - 60px);
        position: relative;
        z-index: 9;
        margin-top: 30px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        gap: calc(var(--main-p-x) * 1.5);
        -webkit-user-select: none;
        margin: auto;
        background-color: #d1d4db;
        transition: background-color 300ms;
        max-width: 600px;
        overflow-y: auto;


        h1 {
            color: rgb(79 80 82);
            text-align: center;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: calc(var(--main-p-x) * 1.5);
        }

        .fields {
            display: flex;
            flex-direction: column;
            gap: calc(var(--main-p-x));

            .field {

                input,
                select {
                    width: 100%;
                    border: 1px solid #7D7D7D;
                    padding: 10px 20px;
                    outline: none;
                    transition: border-color .2s ease;
                    font-weight: 500;
                    font-family: "Poppins", sans-serif;
                    font-size: var(--text-28);

                    &:hover {
                        border-color: #000;
                    }
                }

                p {
                    font-size: 12px;
                    color: red;
                }
            }

            select option {
                padding: 0px 5px;

            }

            .w-full {
                width: 100%;
            }

            textarea {
                font-family: "Poppins", sans-serif;
                border: 1px solid #7D7D7D;
                padding: 10px 20px;
                min-height: 100px;
                width: 100%;
                outline: none;
                resize: vertical;
                transition: border-color .2s ease;
                font-weight: 500;
                font-size: var(--text-28);

                &:hover {
                    border-color: #000;
                }
            }

            .select {
                padding-right: 10px;
            }
        }

        .time-model {
            opacity: 0;
            height: 0px;
            width: 0px;
            position: fixed;
            z-index: 99;
            top: var(--header-h);
            left: 50%;
            transform: translate(-50%, 0%);
            display: flex;
            justify-content: center;

            .closeTime {
                position: absolute;
                left: 50%;
                top: 0%;
                transform: translate(-50%, -50%);
            }

            &.active {
                opacity: 1;
                height: max-content;
                width: 80vw;
            }
        }

        .centered {
            display: flex;
            justify-content: center;

            button {
                filter: blur(0);
            }
        }

        .timeIcon {
            padding: 5px 10px;
            background-color: #ffdd2c;
            color: #000;
        }
    }
}

.p-component {
    * {
        margin: revert-layer;
        padding: revert-layer;
    }
}