.VEC_Photography {
    padding: 0;

    .description {
        padding: calc(var(--main-p-x) * 4) calc(var(--main-p-x) * 4);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: var(--main-p-x);

        .time {
            grid-column: span 2;
        }

        .txt {
            grid-column: 3 / -1;
        }
    }

    .grid {
        padding: calc(var(--main-p-x) * 4) calc(var(--main-p-x) * 4);
        display: flex;
        justify-content: center;
        gap: var(--main-p-x);

        img {
            width: 40vw;
            max-width: 550px;
            flex-shrink: 1;
            flex-basis: 30%;
        }
    }

    .padding {
        padding: calc(var(--main-p-x) * 4) calc(var(--main-p-x) * 4);

        .p {
            padding: calc(var(--main-p-x) * 4) 0;
        }
    }

    .p,
    pre {
        font-weight: 400;
        color: rgba(25, 27, 29, .6);
        font-size: var(--text-28);
    }

    .centered {
        padding: calc(var(--main-p-x) * 2) calc(var(--main-p-x) * 4);
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .hero-image {
        padding: calc(var(--main-p-x) * 2) calc(var(--main-p-x) * 8);
        display: flex;
        flex-direction: column;
        gap: var(--main-p-x);
        align-items: center;
        justify-content: center;

        img {
            object-fit: contain;
            // max-width: 1000px;
            width: 100%;
        }
    }

    .px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .py-0 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width:940px) {
    .VEC_Photography .grid {
        display: block;

        iframe {
            width: 100%;
            height: 80vh;
            flex-basis: 100%;
            margin: var(--main-p-x) 0;

        }
    }

}


@media screen and (max-width:750px) {
    .VEC_Photography {
        font-size: 8px;

        .description,
        .hero-image,
        .grid,
        .padding {
            padding: calc(var(--main-p-x)* 3) calc(var(--main-p-x) * 2);
        }

        .padding {
            padding: calc(var(--main-p-x)* 2) calc(var(--main-p-x) * 2);

            .p {
                padding: 0;
            }
        }

    }
}

@media screen and (max-width:480px) {
    .VEC_Photography {

        .description {
            display: flex;
            flex-direction: column;
        }

        .grid,
        .hero-image,
        .description {
            padding: calc(var(--main-p-x)* 2) var(--main-p-x);
        }
    }
}