.jigglyButton {
    --button-w: 11rem;
    --button-h: calc(var(--button-w) - 3rem);
    --button-px: 2rem;
    --button-py: calc(var(--button-px) - .5);
    width: var(--button-w);
    height: var(--button-h);
    padding: var(--button-py) var(--button-px);
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 700ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &.text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    &.sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    &.primary-button {

        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::before {
            content: '';
            z-index: 5;
            background: #e6e6e6;
            -webkit-clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
            clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
            transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
        }

        &::after {
            content: '';
            height: 86%;
            width: 97%;
            top: 5%;
            border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
            border: 1px solid #000;
            transform: rotate(-20deg);
            z-index: 4;
            transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
        }

        &.btn-yellow::before {
            background: #000;
        }

        span {
            color: #000;
            mix-blend-mode: darken;
            display: block;
            transition: transform 0.3s ease;
            position: relative;
            z-index: 6;
        }

        &.btn-yellow span {
            mix-blend-mode: lighten;
            display: block;
            transition: transform 0.3s ease;
            position: relative;
            z-index: 6;
            color: #fff;
        }

    }

    &:hover {
        color: #fff;

        &::before {
            background: #000;
            -webkit-clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
            clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
        }

        &::after {
            transform: translate3d(0, -5px, 0);
        }

        &.btn-yellow::before {
            background: #ffce00;
        }

        span {
            display: block;
            transition: transform 0.3s ease;
            mix-blend-mode: difference;
            transform: translate3d(0, -10px, 0);
            color: #fff;
        }

        &.btn-yellow span {
            color: #000;
            mix-blend-mode: unset;
        }
    }
}