.Pavana_Villas_Page {
    padding: 0;

    .hero-image {
        margin-bottom: 5rem;
        padding: calc(var(--main-p-x) * 2) calc(var(--main-p-x) * 8);
        display: flex;
        flex-direction: column;
        gap: var(--main-p-x);
        align-items: center;
        justify-content: center;

        img {
            object-fit: contain;
            // max-width: 1000px;
            max-height: fit-content;
            width: 100%;
        }
    }

    .px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .py-0 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width:750px) {
    .Pavana_Villas_Page {
        font-size: 8px;

        .hero-image {
            padding: calc(var(--main-p-x)* 3) calc(var(--main-p-x) * 2);
        }
    }
}

@media screen and (max-width:480px) {
    .Pavana_Villas_Page {
        .hero-image {
            padding: calc(var(--main-p-x)* 2) var(--main-p-x);
        }
    }
}