.MedtrackerPage {
    padding: 0;

    .hero-image {
        padding: calc(var(--main-p-x) * 2) calc(var(--main-p-x) * 4);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        iframe {
            object-fit: contain;
            height: auto;
            min-height: 500px;
            width: 100%;
            max-width: 1000px;
            flex-shrink: 1;
            flex-basis: 100%;
        }
    }

    .p {
        color: rgba(25, 27, 29, .6);
        font-size: var(--text-28);
    }

    .centered {
        padding: calc(var(--main-p-x) * 6) calc(var(--main-p-x) * 4);
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

}

@media screen and (max-width:730px) {
    .MedtrackerPage {
        font-size: 8px;

        .centered,
        .hero-image {
            padding: calc(var(--main-p-x)* 3) calc(var(--main-p-x) * 2);
        }

        .padding {
            padding: calc(var(--main-p-x)* 2) calc(var(--main-p-x) * 2);

            p {
                padding: 0;
            }
        }

    }
}

@media screen and (max-width:480px) {
    .MedtrackerPage {

        .centered,
        .hero-image {
            padding: calc(var(--main-p-x)* 2) var(--main-p-x);
        }
    }
}