.Design_Page {
  // padding: var(--main-p-y) 0;
  padding: 0;

  .section-1 {
    font-size: 16px;
    padding: calc(var(--main-p-x) * 6) calc(var(--main-p-x) * 4);
    display: flex;
    flex-direction: column;
    gap: calc(var(--main-p-x) * 1.25);
    border-bottom: 1px solid #C1C1C1;

    h1 {
      line-height: var(--text-20);
    }

    pre:nth-of-type(2) {
      padding-top: 2em;
    }
  }

  .section-3 {
    display: flex;
    // justify-content: center;
    padding: calc(var(--main-p-x) * 3) calc(var(--main-p-x) * 4);

    .text-center-wrapper {
      border-left: 6px solid var(--theme-color);
      padding: 0 var(--main-p-x);

      p {
        padding-top: 1em;
      }
    }

    .pt {
      padding-top: 1em;
    }

    &.mt {
      margin-top: calc(var(--main-p-x) * 4);
    }

    &.mb {
      margin-bottom: calc(var(--main-p-x) * 4);
    }
  }

  .getInTouch {
    padding: calc(var(--main-p-x) * 2) calc(var(--main-p-x) * 4);
    background-color: #000;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: var(--main-p-x);
    column-gap: calc(var(--main-p-x) * 2);
    align-items: center;

    .heading {
      color: #fff;
    }

    button {
      height: unset;
      width: unset;
      border-radius: 50px;
      border-color: transparent;
      font-family: inherit;

      a {
        height: unset;
        padding: 8px 20px;
        width: unset;
      }

      &:hover {
        box-shadow: 0px 0px 0px 2px #fff;
      }
    }
  }

  .card-section {
    padding: calc(var(--main-p-x) * 2) calc(var(--main-p-x) * 4);
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;

    .heading {
      grid-column: 1 / -1;
    }

    .card {
      cursor: pointer;

      .img {
        height: 35vw;
        width: 100%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: scale .3s ease-in-out;
        }
      }

      &:hover {
        .img img {
          scale: 1.1;
        }
      }

      .text-container {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        background-color: #fff;

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }

}

@media screen and (max-width:850px) {
  .Design_Page {
    --main-p-x: 1rem;
    --main-p-y: .5rem;
    font-size: 10px;

    .section-1,
    .section-3,
    .getInTouch {
      padding: calc(var(--main-p-y)* 6) calc(var(--main-p-x) * 3);
    }

    .card-section {
      padding: calc(var(--main-p-x)* 3) var(--main-p-x);
    }

  }
}


@media screen and (max-width:480px) {
  .Design_Page {
    font-size: 7px;

    .section-1,
    .section-3,
    .section-4,
    .getInTouch {
      padding: calc(var(--main-p-y)* 6) var(--main-p-x);
    }

    .card-section {
      grid-template-columns: 1fr;

      .card .img {
        height: 250px;
      }
    }
  }
}