.CampaignPage {
    padding: 0;
    font-size: 16px;

    font-family: "Poppins", sans-serif;

    .unsetBtn {
        font-size: 18px;
        width: max-content;
        font-weight: 600;
        padding: 10px 20px;
        border-radius: .375rem;
        background-color: #ffdd2c;
        color: #000;
    }

    .fs-4 {
        font-size: 2.875rem;
    }

    .translate-x-center {
        transform: translateX(-50%);
    }

    .bg-secondary {
        --tw-bg-opacity: 1;
        background-color: rgb(255 206 0 / var(--tw-bg-opacity));
    }

    .bg-gradient-primary {
        background: linear-gradient(135deg, rgba(255, 206, 0, 1) 0%, rgba(255, 128, 0, 1) 100%);
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

// @media (min-width: 1280px) {
//     .CampaignPage {

//         // .container {
//         //     max-width: 1280px;
//         // }
//     }
// }

@media (min-width: 1024px) {
    .CampaignPage {

        // .container {
        //     max-width: 1024px;
        // }
        .lg\:w-5\/12 {
            width: 41.666667%;
        }
    }
}

@media screen and (max-width: 767px) {
    .CampaignPage {

        .yellow-card-sngl {
            width: 47%;
        }

        .fs-4 {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
    }
}