.MedtrackerUiPage {
    padding: 0;


    .padding {
        padding: calc(var(--main-p-x) * 4) calc(var(--main-p-x) * 4);

        .p {
            padding: calc(var(--main-p-x) * 4) 0;

        }
    }

    .hero-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            object-fit: contain;
            max-width: 1000px;
        }
    }

    .p {
        color: rgba(25, 27, 29, .6);
        font-size: var(--text-28);
    }
}

@media screen and (max-width:730px) {
    .MedtrackerUiPage {
        font-size: 8px;

        .padding,
        .hero-image {
            padding: calc(var(--main-p-x)* 3) calc(var(--main-p-x) * 2);
        }

        .padding {
            padding: calc(var(--main-p-x)* 2) calc(var(--main-p-x) * 2);

            p {
                padding: 0;
            }
        }

    }
}

@media screen and (max-width:480px) {
    .MedtrackerUiPage {
        .hero-image {
            padding: calc(var(--main-p-x)* 2) var(--main-p-x);
        }
    }
}